<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Client</title>
</head>
<body>
    <h1>Détails du Client</h1>
    <ul>
        <li>Nom : {{ client.nom }}</li>
        <li>Email : {{ client.email }}</li>
        <li>Téléphone : {{ client.telephone }}</li>
    </ul>
    
    <a href="{% url 'creer_facture' client.id %}">Créer une Facture pour ce Client</a>
    <a href="{% url 'liste_clients' %}">Retour à la liste des clients</a>
</body>
</html>
